:root {
    --green-color: #06f9b7;
    --grey-color: #f8fafa;
    --font: "Poppins", sans-serif;
    --white-color: white;
    --black-color: black;
}

body {
    font-family: var(--font);
}

/* margin and padding */

.margin-right-350px {
    margin-right: 350px;
}

.margin-top-100px {
    margin-top: 100px;
}

.margin-top-200px {
    margin-top: 200px;
}

.padding-top-100px {
    padding-top: 100px;
}

/* flex css */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

/* button desing */

.button {
    border: 1px solid var(--white-color);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 50px 10px 20px;
    font-family: var(--font);
    transition: 250ms;
    z-index: 1;
}

.button:hover {
    background-color: var(--green-color);
    border: 1px solid var(--green-color);
    color: var(--black-color);
}

.button-point {
    color: var(--green-color);
    font-size: 12px;
    padding-right: 7px;
    z-index: 1;
}

.button:hover>.button-point {
    color: var(--black-color)
}

.button:hover+.button-line {
    border-bottom: 1px solid var(--black-color);
}

.button-line {
    border-bottom: 1px solid var(--green-color);
    width: 50px;
    position: absolute;
    margin-top: 122px;
    margin-right: 180px;
    z-index: 1;
}

/* header UX.UI block */

.border-left {
    border-left: 3px solid var(--green-color);
    height: 200px;
    z-index: 1;
}

.ux-ui-black-dot {
    color: var(--black-color);
    font-size: 100px;
}

.ux-ui-white-title {
    color: var(--white-color);
    font-size: 100px;
    font-weight: bold;
    z-index: 1;
}